body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

nav {
    background: #222;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(to right, #0057ff, #00c6ff);
    color: white;
}

.btn {
    padding: 10px 20px;
    background: white;
    color: #0057ff;
    border-radius: 5px;
    text-decoration: none;
}

.content {
    padding: 50px;
}

.project {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
